Assignment-4/Abhinav_SecondPart/Abhinav_SecondPart/XMLServices/TryIt/Service References/xmlService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="verificationService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlURL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xsdURL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verificationServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="verificationServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="xmlToHtmlTransform">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlURL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xslURL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="xmlToHtmlTransformResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlToHtmlTransformResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>